*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	transition: .5s ease;
}

:root{
	--text-colors: #444450;
	--hover-colors: #fd9903;
	--bg-colors: #f3f5f8;
	--bg-colors-op: #f3f5f87e;
	--bg-colors-darken: #e1e2e2;
	--big-colors: #022982;
	--dark-colors: #000;
}
.top-icon{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
	font-size: 30px;
	color: var(--hover-colors);
}
body{
	overflow: hidden;
}
.big-container{
	overflow: auto;
	width: 100%;
	height: 100vh;
	background: var(--bg-colors);
}
.header{
	width: 100%;
	display: flex;
	z-index: 111;
	justify-content: space-around;
	height: 80px;
	position: sticky;
	top: 0px;
	line-height: 80px;
	background: var(--bg-colors);
}
.header .sticky{
	background: red;
}
.header .logo a{
	font-size: 40px;
	color: #02194d;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.header .logo a b{
	font-size: 70px;
	color: var(--hover-colors);
}
.header .link ul{
	display: flex;
	flex-direction: row;
}
.header .link ul li{
	margin:0 10px;
}
.header .link ul li a{
	font-size: 25px;
	color: var(--text-colors);
	letter-spacing: 3px;
	text-transform: capitalize;
}
.header .link ul li a:hover{
	color: #fd9903;
}

.part{
	width: 80%;
	align-content: center;
	text-align: center;
	margin: auto;
	padding-top: 100px;
	min-height: 100vh;
}
.part .part-h1{
	color: var(--big-colors);
	font-size: 35px;
	text-transform: uppercase;
}
#slider {
	position: relative;
	width: 800px;
	margin: 100px auto;
	overflow: hidden;
	/* box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); */
}
#slider ul {
	position: relative;
	list-style: none;
	/* height: 100%; */
	width: 500%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	transition: all 750ms ease;
	left: 0;
  }
  #slider ul li {
	position: relative;
	width: 100%;
	/* height: 100%; */
  
	float: left;
  }
  #slider ul li img{
	width: 800px;
  }
  
  #slider #prev, #slider #next {
	width: 40px;
	line-height: 40px;
	border-radius: 10px;
	font-size: 1.5rem;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	text-align: center;
	color: var(--hover-colors);
	background: var(--big-colors);
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 150ms ease;
  }
  #slider #prev:hover, #slider #next:hover {
	background-color: var(--hover-colors);
	text-shadow: 0;
	color: var(--big-colors);
  }
  #slider #prev {
   left: 20px;
  }
  #slider #next {
	right: 20px;
  }
.about-sect .about-row{
	width: 79%;
	margin: auto;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.about-sect .about-row .left{
}
.about-sect .about-row .left img{
	width: 80%;
	border-radius: 10px;
}
.about-sect .about-row .right{
}
.about-sect .about-row .right h3{
	color: var(--hover-colors);
}
.about-sect .about-row .right p{
	margin: 20px;
}
.founders-sect .founders-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.founders-sect .founders-row .box{
	background: var(--bg-colors-darken);
	padding: 10px;
	border-radius: 10px;
	width: 45%;
	margin: 10px;
	cursor: pointer;
}
.founders-sect .founders-row .box:hover,
.services-sect .services-row .box:hover{
	transform: scale(1.01) translateY(-5px);
	border: 1px solid var(--bg-colors);
}
.founders-sect .founders-row .box .img img{
	width: 100%;
	border-radius: 10px;
}
.founders-sect .founders-row .box .text span{
	color: var(--big-colors);
}
.founders-sect .founders-row .box .text h3{
	color: var(--text-colors);
	font-size: 30px;
}
.services-sect .services-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}
.services-sect .services-row .box{
	width: 45%;
	padding: 10px;
	margin: 2%;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	cursor: pointer;
}
.services-sect .services-row .box:hover{
	border: 1px solid var(--bg-colors-darken);
}
.services-sect .services-row .box .img{
	flex: 1;
}
.services-sect .services-row .box .img img{
	width: 100%;
}
.services-sect .services-row .box .text{
	flex: 2;
}
.contacts-sect .contacts-row{
	display: flex;
	flex-direction: column;
	margin-top: 30pxpx;
}
.contacts-sect .contacts-row h2{
	color: var(--text-colors);
	margin: 10px;
}
.contacts-sect .contacts-row .address{
	width: 50%;
	margin: auto;
}
.contacts-sect .contacts-row .address .loc{
	margin: 20px;
}
.contacts-sect .contacts-row .address .loc p{
	margin-bottom: 10px;
}
.contacts-sect .contacts-row .address .loc p span{
	color: var(--big-colors);
}
.contacts-sect .contacts-row .address .loc p a{
	color: var(--hover-colors);
}
.contacts-sect .contacts-row .address ul{
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-top: 10px;
}
.contacts-sect .contacts-row .address ul li{
	padding: 10px;
	margin: auto;
	width: 60px;
	background: var(--bg-colors-darken);
	border-radius: 20px;
}
.contacts-sect .contacts-row .address ul li a{
	color: var(--bg-colors);
}
.contacts-sect .contacts-row .address ul li a svg{
	border-radius: 10px;
}
.contacts-sect .contacts-row .address ul li a i{
	font-size: 40px;
	color: var(--dark-colors);
}
.contacts-sect .contacts-row .address ul li:hover{
	background: var(--hover-colors);
	padding: 5px;
	border-radius: 10px;
	transform: scale(1.01) translateY(-5px);
}
.contacts-sect .contacts-row .email-form form{
	background: var(--bg-colors-darken);
	padding: 20px;
	border-radius: 10px;
}
.contacts-sect .contacts-row .email-form form input{
	width: 80%;
	padding: 20px;
	border: 0;
	background: transparent;
	border-bottom: 2px solid var(--big-colors);
	outline: 0;
}
.contacts-sect .contacts-row .email-form form input:focus{
	box-shadow: 1px 2px 6px 4px var(--big-colors);
	border-radius: 10px;
}
.contacts-sect .contacts-row .email-form form button{
	background: var(--hover-colors);
	padding: 20px;
	border-radius: 10px;
	border: 0;
	width: 80%;
	margin: 10px;
	cursor: pointer;
	color: var(--big-colors);
}
.contacts-sect .contacts-row .email-form form button:hover{
	background: var(--big-colors);
	color: var(--bg-colors);
}

